# Relevant Data sets for this Notebook

1) [historical climate data](https://www.earthsystemgrid.org/dataset/narccap.hrm3.gfdl-current.table2/file.html)
(pr_HRM3_gfdl model data sets for 1968 and 1971)

2) [future climate data](https://www.earthsystemgrid.org/dataset/narccap.hrm3.gfdl-future.table2/file.html)
(pr_HRM3_gfdl model data sets for 2061 and 2066)

# Relevant Imports

In [1]:
import pandas as pd
import numpy as np
import chrpa.main.processing as main
import os
import glob

# Identifying location of interest

In [2]:
#Finding closest grid cell to location of interest for specified weather model
mymodel='HRM3_gfdl'
myfile = 'pr_'+mymodel+'_1968010103.nc'
precip_dir = os.path.join('.', 'precip') #directory for precip_files
ncfilepath = os.path.join(precip_dir, myfile)

site_loc = (36.7463169, -101.4838549)
site_name = 'Random_Site1'
offset=[0,0]
close_info = main.get_closest_point(site_loc, ncfilepath, offset)

In [3]:
close_info

{'ws_lat': 36.62239456176758,
 'ws_lon': -101.30980682373047,
 'dist': 20.75454177359249,
 'nc_xindex': 69,
 'nc_yindex': 40}

# Acquiring Weather Files

options

In [4]:
limited_files = True

### Precipitation

In [5]:
site_ncindices = (close_info['nc_xindex'], close_info['nc_yindex'])

ncwvar='pr'
model_ncfiles = sorted(glob.glob(os.path.join('.', 'precip', 'pr_'+mymodel+'*.nc')))

if limited_files==True:
    model_ncfiles = model_ncfiles[0:2]+model_ncfiles[-2:] #HACK => just to limit to a few precip files

current_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])<2023]
future_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])>2023]

#lists below are of len()=current_/future_ncfiles...one array per file inside the list
timelistprecip_current, preciplist_current = main.make_ordered_time_weather_lists(current_ncfiles, site_ncindices, ncwvar)
timelistprecip_future, preciplist_future = main.make_ordered_time_weather_lists(future_ncfiles, site_ncindices, ncwvar)

In [6]:
print('timelistprecip_current \n',timelistprecip_current)
print()
print('preciplist_current \n', preciplist_current)
print()
print('timelistprecip_future \n', timelistprecip_future)
print()
print('preciplist_future \n', preciplist_future)

timelistprecip_current
 [array([1.250000e-01, 2.500000e-01, 3.750000e-01, ..., 1.094750e+03,
       1.094875e+03, 1.095000e+03]), array([1095.125, 1095.25 , 1095.375, ..., 2919.75 , 2919.875, 2920.   ])]

preciplist_current
 [array([0.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 5.9811285e-08,
       0.0000000e+00, 1.9657066e-06], dtype=float32), array([1.8542744e-06, 8.6738510e-07, 7.5471968e-07, ..., 2.9510959e-06,
       3.4547460e-07, 0.0000000e+00], dtype=float32)]

timelistprecip_future
 [array([33945.125, 33945.25 , 33945.375, ..., 35769.75 , 35769.875,
       35770.   ]), array([35770.125, 35770.25 , 35770.375, ..., 37594.75 , 37594.875,
       37595.   ])]

preciplist_future
 [array([0., 0., 0., ..., 0., 0., 0.], dtype=float32), array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)]

### Wind Files

#### uas

In [7]:
ncwvar='uas'
model_ncfiles = sorted(glob.glob(os.path.join('.', 'wind', ncwvar+'_'+mymodel+'*.nc')))

if limited_files==True:
    model_ncfiles = model_ncfiles[0:2]+model_ncfiles[-2:] # HACK => just to limit to a few precip files

current_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])<2023]
future_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])>2023]

timelistuas_current, uaslist_current = main.make_ordered_time_weather_lists(current_ncfiles, site_ncindices, ncwvar)
timelistuas_future, uaslist_future = main.make_ordered_time_weather_lists(future_ncfiles, site_ncindices, ncwvar)

In [8]:
print('timelistuas_current \n', timelistuas_current)
print()
print('uaslist_current \n', uaslist_current)
print()
print('timelistuas_future \n', timelistuas_future)
print()
print('uaslist_future \n', uaslist_future)

timelistuas_current
 [array([1.250000e-01, 2.500000e-01, 3.750000e-01, ..., 1.094750e+03,
       1.094875e+03, 1.095000e+03]), array([1095.125, 1095.25 , 1095.375, ..., 2919.75 , 2919.875, 2920.   ])]

uaslist_current
 [array([ 4.0351562,  4.408203 ,  3.8330078, ..., -1.1181641, -0.6425781,
       -0.234375 ], dtype=float32), array([ 0.24902344,  0.40820312,  0.27148438, ..., -0.53515625,
       -0.9189453 , -1.2929688 ], dtype=float32)]

timelistuas_future
 [array([33945.125, 33945.25 , 33945.375, ..., 35769.75 , 35769.875,
       35770.   ]), array([35770.125, 35770.25 , 35770.375, ..., 37594.75 , 37594.875,
       37595.   ])]

uaslist_future
 [array([-0.9091797 ,  0.75878906,  3.4951172 , ...,  5.071289  ,
        3.8701172 ,  2.196289  ], dtype=float32), array([1.5957031 , 0.7060547 , 0.28027344, ..., 2.4726562 , 0.9013672 ,
       0.6699219 ], dtype=float32)]

#### vas

In [9]:
ncwvar='vas'
model_ncfiles = sorted(glob.glob(os.path.join('.', 'wind', ncwvar+'_'+mymodel+'*.nc')))

if limited_files==True:
    model_ncfiles = model_ncfiles[0:2]+model_ncfiles[-2:] # HACK => just to limit to a few precip files

current_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])<2023]
future_ncfiles = [i for i in model_ncfiles if int(i[-13:-9])>2023]

timelistvas_current, vaslist_current = main.make_ordered_time_weather_lists(current_ncfiles, site_ncindices, ncwvar)
timelistvas_future, vaslist_future = main.make_ordered_time_weather_lists(future_ncfiles, site_ncindices, ncwvar)

In [10]:
print('timelistvas_current \n', timelistvas_current)
print()
print('vaslist_current \n', vaslist_current)
print()
print('timelistvas_future \n', timelistvas_future)
print()
print('vaslist_future \n', vaslist_future)

timelistvas_current
 [array([1.250000e-01, 2.500000e-01, 3.750000e-01, ..., 1.094750e+03,
       1.094875e+03, 1.095000e+03]), array([1095.125, 1095.25 , 1095.375, ..., 2919.75 , 2919.875, 2920.   ])]

vaslist_current
 [array([ 0.23730469, -4.248047  , -4.8876953 , ...,  1.1572266 ,
        2.1845703 , -0.1328125 ], dtype=float32), array([-0.4169922, -1.0898438, -1.3867188, ...,  3.7919922,  4.0878906,
        3.0205078], dtype=float32)]

timelistvas_future
 [array([33945.125, 33945.25 , 33945.375, ..., 35769.75 , 35769.875,
       35770.   ]), array([35770.125, 35770.25 , 35770.375, ..., 37594.75 , 37594.875,
       37595.   ])]

vaslist_future
 [array([ 6.163086 ,  7.333008 ,  5.723633 , ..., -6.970703 , -7.1796875,
       -2.959961 ], dtype=float32), array([-0.2626953,  1.5195312,  3.3154297, ..., -8.296875 , -8.290039 ,
       -4.3916016], dtype=float32)]

# Creating Time-Weather Data Frames

### Precipitation

In [11]:
start_time1 = "1968-01-01 00:00:00"
start_time2 = "2038-01-01 00:00:00" #used for converting all "future" time-deltas (as provided by the NARCCAP files), except for HRM3-based climate models which use start_time1

wvar='precip'
tint = 3 #hours
tvar = 'time'

In [12]:
timeprecipDF_current = main.timedelta_to_continuous_w_weather(timelistprecip_current, 
                                                          preciplist_current, 
                                                          wvar=wvar, 
                                                          start_time=start_time1, 
                                                          start_time_format="%Y-%m-%d %H:%M:%S", 
                                                          td_unit='days')

timeprecipDF_future = main.timedelta_to_continuous_w_weather(timelistprecip_future,
                                                         preciplist_future,
                                                         wvar=wvar,
                                                         start_time=start_time1,
                                                         start_time_format="%Y-%m-%d %H:%M:%S",
                                                         td_unit='days')

In [13]:
display('timeprecipDF_current', timeprecipDF_current)
print()
display('timeprecipDF_future', timeprecipDF_future)

'timeprecipDF_current'

                     time        precip
0     1968-01-01 03:00:00  0.000000e+00
1     1968-01-01 06:00:00  0.000000e+00
2     1968-01-01 09:00:00  0.000000e+00
3     1968-01-01 12:00:00  0.000000e+00
4     1968-01-01 15:00:00  0.000000e+00
...                   ...           ...
23355 1975-12-29 12:00:00  1.605780e-07
23356 1975-12-29 15:00:00  1.067054e-06
23357 1975-12-29 18:00:00  2.951096e-06
23358 1975-12-29 21:00:00  3.454746e-07
23359 1975-12-30 00:00:00  0.000000e+00

[23360 rows x 2 columns]

'timeprecipDF_future'

                     time        precip
0     2060-12-08 03:00:00  0.000000e+00
1     2060-12-08 06:00:00  0.000000e+00
2     2060-12-08 09:00:00  0.000000e+00
3     2060-12-08 12:00:00  0.000000e+00
4     2060-12-08 15:00:00  0.000000e+00
...                   ...           ...
29195 2070-12-05 12:00:00  1.309955e-06
29196 2070-12-05 15:00:00  5.784288e-08
29197 2070-12-05 18:00:00  0.000000e+00
29198 2070-12-05 21:00:00  0.000000e+00
29199 2070-12-06 00:00:00  0.000000e+00

[29200 rows x 2 columns]

#### Converting precipitation data and creating data-frames with daily data

In [14]:
# Function below converts: (1) precip from kg/m^2-s to mm, and (2) the time/time-stamps to pure dates to aggregate daily data
# Aggregating daily precip by summing
#Note that time-stamps with NaNs are cleaned out of the data set here.
aggfun='sum'
precip_daily_current = main.convert_to_mm_daily(timeprecipDF_current, tint, tvar, wvar, aggfun)
precip_daily_future = main.convert_to_mm_daily(timeprecipDF_future, tint, tvar, wvar, aggfun)

In [15]:
display('precip_daily_current', precip_daily_current)
print()
display('precip_daily_future', precip_daily_future)

'precip_daily_current'

            date    precip
0     1968-01-01  0.000000
1     1968-01-02  0.000000
2     1968-01-03  0.000593
3     1968-01-04  9.973100
4     1968-01-05  0.007945
...          ...       ...
2916  1975-12-26  0.000000
2917  1975-12-27  0.000466
2918  1975-12-28  0.004117
2919  1975-12-29  0.049195
2920  1975-12-30  0.000000

[2921 rows x 2 columns]

'precip_daily_future'

            date    precip
0     2060-12-08  0.112108
1     2060-12-09  5.407188
2     2060-12-10  0.000000
3     2060-12-11  0.000000
4     2060-12-12  0.000000
...          ...       ...
3646  2070-12-02  0.000000
3647  2070-12-03  0.000000
3648  2070-12-04  0.020101
3649  2070-12-05  0.021532
3650  2070-12-06  0.000000

[3651 rows x 2 columns]

### Wind

In [16]:
wvar1 = 'uas'
wvar2 = 'var'
wndvar = 'wind'

#### uas

In [17]:
timeuasDF_current = main.timedelta_to_continuous_w_weather(timelistuas_current, 
                                                          uaslist_current, 
                                                          wvar=wvar1, 
                                                          start_time=start_time1, 
                                                          start_time_format="%Y-%m-%d %H:%M:%S", 
                                                          td_unit='days')

timeuasDF_future = main.timedelta_to_continuous_w_weather(timelistuas_future,
                                                         uaslist_future,
                                                         wvar=wvar1,
                                                         start_time=start_time1,
                                                         start_time_format="%Y-%m-%d %H:%M:%S",
                                                         td_unit='days')

In [18]:
display('timeuasDF_current', timeuasDF_current)
print()
display('timeuasDF_future', timeuasDF_future)

'timeuasDF_current'

                     time       uas
0     1968-01-01 03:00:00  4.035156
1     1968-01-01 06:00:00  4.408203
2     1968-01-01 09:00:00  3.833008
3     1968-01-01 12:00:00  3.728516
4     1968-01-01 15:00:00  3.681641
...                   ...       ...
23355 1975-12-29 12:00:00  0.523438
23356 1975-12-29 15:00:00 -0.752930
23357 1975-12-29 18:00:00 -0.535156
23358 1975-12-29 21:00:00 -0.918945
23359 1975-12-30 00:00:00 -1.292969

[23360 rows x 2 columns]

'timeuasDF_future'

                     time       uas
0     2060-12-08 03:00:00 -0.909180
1     2060-12-08 06:00:00  0.758789
2     2060-12-08 09:00:00  3.495117
3     2060-12-08 12:00:00  4.200195
4     2060-12-08 15:00:00  4.346680
...                   ...       ...
29195 2070-12-05 12:00:00  2.969727
29196 2070-12-05 15:00:00  3.286133
29197 2070-12-05 18:00:00  2.472656
29198 2070-12-05 21:00:00  0.901367
29199 2070-12-06 00:00:00  0.669922

[29200 rows x 2 columns]

#### vas

In [19]:
timevasDF_current = main.timedelta_to_continuous_w_weather(timelistvas_current, 
                                                          vaslist_current, 
                                                          wvar=wvar2, 
                                                          start_time=start_time1, 
                                                          start_time_format="%Y-%m-%d %H:%M:%S", 
                                                          td_unit='days')
timevasDF_future = main.timedelta_to_continuous_w_weather(timelistvas_future,
                                                         vaslist_future,
                                                         wvar=wvar2,
                                                         start_time=start_time1,
                                                         start_time_format="%Y-%m-%d %H:%M:%S",
                                                         td_unit='days')

In [20]:
display('timevasDF_current', timevasDF_current)
print()
display('timevasDF_future', timevasDF_future)

'timevasDF_current'

                     time       var
0     1968-01-01 03:00:00  0.237305
1     1968-01-01 06:00:00 -4.248047
2     1968-01-01 09:00:00 -4.887695
3     1968-01-01 12:00:00 -3.521484
4     1968-01-01 15:00:00 -3.147461
...                   ...       ...
23355 1975-12-29 12:00:00  0.085938
23356 1975-12-29 15:00:00  1.456055
23357 1975-12-29 18:00:00  3.791992
23358 1975-12-29 21:00:00  4.087891
23359 1975-12-30 00:00:00  3.020508

[23360 rows x 2 columns]

'timevasDF_future'

                     time       var
0     2060-12-08 03:00:00  6.163086
1     2060-12-08 06:00:00  7.333008
2     2060-12-08 09:00:00  5.723633
3     2060-12-08 12:00:00  4.126953
4     2060-12-08 15:00:00  3.658203
...                   ...       ...
29195 2070-12-05 12:00:00 -3.588867
29196 2070-12-05 15:00:00 -4.671875
29197 2070-12-05 18:00:00 -8.296875
29198 2070-12-05 21:00:00 -8.290039
29199 2070-12-06 00:00:00 -4.391602

[29200 rows x 2 columns]

#### Converting directional-wind to wind-speed, then creating data frames with daily data

In [21]:
# Note that time-stamps with NaNs are cleaned out of the data set here.
windDF_current = main.convert_uasvas_to_wind(timeuasDF_current, timevasDF_current, wvar1, wvar2, tvar, wndvar)
windDF_future = main.convert_uasvas_to_wind(timeuasDF_future, timevasDF_future, wvar1, wvar2, tvar, wndvar)

# Aggregating daily wind by taking a mean
aggfun = 'mean'
windDF_current_daily = main.convert_to_daily(windDF_current, tvar=tvar, aggfun=aggfun)
windDF_future_daily = main.convert_to_daily(windDF_future, tvar=tvar, aggfun=aggfun)

In [22]:
display('windDF_current_daily', windDF_current_daily)
print()
display('windDF_future_daily', windDF_future_daily)

'windDF_current_daily'

            date      wind
0     1968-01-01  5.054606
1     1968-01-02  3.217536
2     1968-01-03  2.146114
3     1968-01-04  9.218215
4     1968-01-05  6.627305
...          ...       ...
2916  1975-12-26  3.999542
2917  1975-12-27  4.212257
2918  1975-12-28  6.041313
2919  1975-12-29  2.463199
2920  1975-12-30  3.285610

[2921 rows x 2 columns]

'windDF_future_daily'

            date      wind
0     2060-12-08  6.079387
1     2060-12-09  7.594301
2     2060-12-10  3.982321
3     2060-12-11  6.199851
4     2060-12-12  9.371541
...          ...       ...
3646  2070-12-02  3.736952
3647  2070-12-03  5.652268
3648  2070-12-04  4.763923
3649  2070-12-05  5.769768
3650  2070-12-06  4.442405

[3651 rows x 2 columns]

# Summary Statistics

### Precip

In [23]:
precip_stats_current, precip_stats_future = main.summary_stat_fun(precip_daily_current, precip_daily_future, mymodel, site_name)

In [24]:
display('precip_stats_current', precip_stats_current)
print()
display('precip_stats_future', precip_stats_future)

'precip_stats_current'

       model time_period     site_name  min      mean         max        sd
0  HRM3_gfdl     current  Random_Site1  0.0  1.963922  101.214143  5.418582

'precip_stats_future'

       model time_period     site_name  min      mean        max        sd
0  HRM3_gfdl      future  Random_Site1  0.0  1.596438  72.449592  4.791262

### Wind

In [25]:
wind_stats_current, wind_stats_future = main.summary_stat_fun(windDF_current_daily, windDF_future_daily, mymodel, site_name)

In [26]:
display('wind_stats_current', wind_stats_current)
print()
display('wind_stats_future', wind_stats_future)

'wind_stats_current'

,model,time_period,site_name,min,mean,max,sd
0,HRM3_gfdl,current,Random_Site1,0.796433,5.278056,13.468797,2.001862

'wind_stats_future'

,model,time_period,site_name,min,mean,max,sd
0,HRM3_gfdl,future,Random_Site1,1.056668,5.574485,13.698321,2.028621

# Extracting Annual Extremes

In [27]:
max_dict_rename_wind = {'wind':'MaxWind'}
max_dict_rename_precip = {'precip':'MaxPrecip'}
precipDF_current_AnnMax = main.get_annual_max(precip_daily_current, max_dict_rename_precip)
precipDF_future_AnnMax = main.get_annual_max(precip_daily_future, max_dict_rename_precip)
windDF_current_AnnMax = main.get_annual_max(windDF_current_daily, max_dict_rename_wind)
windDF_future_AnnMax = main.get_annual_max(windDF_future_daily, max_dict_rename_wind)

In [28]:
display('precipDF_current_AnnMax', precipDF_current_AnnMax)
print()
display('precipDF_future_AnnMax', precipDF_future_AnnMax)

'precipDF_current_AnnMax'

   year   MaxPrecip
0  1968   42.501412
1  1969   36.700666
2  1970   44.083391
3  1971   48.588123
4  1972   55.536589
5  1973   38.216397
6  1974   35.312244
7  1975  101.214143

'precipDF_future_AnnMax'

    year  MaxPrecip
0   2060   5.407188
1   2061  63.567408
2   2062  32.158403
3   2063  40.396189
4   2064  50.695827
5   2065  72.449592
6   2066  36.971072
7   2067  29.834021
8   2068  41.032275
9   2069  50.323830
10  2070  25.599456

In [29]:
display('windDF_current_AnnMax', windDF_current_AnnMax)
print()
display('windDF_future_AnnMax', windDF_future_AnnMax)

'windDF_current_AnnMax'

   year    MaxWind
0  1968  12.347503
1  1969  11.888755
2  1970  13.238945
3  1971  12.928904
4  1972  13.468797
5  1973  11.172457
6  1974  13.335457
7  1975  10.251927

'windDF_future_AnnMax'

    year    MaxWind
0   2060   9.371541
1   2061  11.011634
2   2062  12.598370
3   2063  13.698321
4   2064  13.343469
5   2065  12.348142
6   2066  11.584583
7   2067  12.152034
8   2068  11.803428
9   2069  11.688226
10  2070  11.545067

### Concatenating data frames for plotting purposes

In [30]:
precip_plot_df = pd.concat([precipDF_current_AnnMax, precipDF_future_AnnMax])
precip_plot_df.loc[:,'period'] = np.concatenate([np.repeat('current',len(precipDF_current_AnnMax)), np.repeat('future', len(precipDF_future_AnnMax))])

wind_plot_df = pd.concat([windDF_current_AnnMax, windDF_future_AnnMax])
wind_plot_df.loc[:,'period'] = np.concatenate([np.repeat('current',len(windDF_current_AnnMax)), np.repeat('future', len(windDF_future_AnnMax))])

In [31]:
display('precip_plot_df', precip_plot_df)
print()
display('wind_plot_df', wind_plot_df)

'precip_plot_df'

    year   MaxPrecip   period
0   1968   42.501412  current
1   1969   36.700666  current
2   1970   44.083391  current
3   1971   48.588123  current
4   1972   55.536589  current
5   1973   38.216397  current
6   1974   35.312244  current
7   1975  101.214143  current
0   2060    5.407188   future
1   2061   63.567408   future
2   2062   32.158403   future
3   2063   40.396189   future
4   2064   50.695827   future
5   2065   72.449592   future
6   2066   36.971072   future
7   2067   29.834021   future
8   2068   41.032275   future
9   2069   50.323830   future
10  2070   25.599456   future

'wind_plot_df'

    year    MaxWind   period
0   1968  12.347503  current
1   1969  11.888755  current
2   1970  13.238945  current
3   1971  12.928904  current
4   1972  13.468797  current
5   1973  11.172457  current
6   1974  13.335457  current
7   1975  10.251927  current
0   2060   9.371541   future
1   2061  11.011634   future
2   2062  12.598370   future
3   2063  13.698321   future
4   2064  13.343469   future
5   2065  12.348142   future
6   2066  11.584583   future
7   2067  12.152034   future
8   2068  11.803428   future
9   2069  11.688226   future
10  2070  11.545067   future

# Fitting Data to Statistical Distributions

In [32]:
alpha = 0.95 
#rp_critical = np.array([2500, 6500])
rp_critical = np.array([10, 20])
currentWindRLs = main.myextremes(windDF_current_AnnMax, rp_critical, 'MaxWind', alpha)

In [33]:
display(currentWindRLs)

               return value   lower ci   upper ci
return period
10.0              13.420384  11.172457  13.458862
20.0              13.450531  11.172457  13.888487

In [34]:
rp_array = np.arange(1,100)
futureWindRLs = main.myextremes(windDF_future_AnnMax, rp_array, 'MaxWind', alpha)

C:\Users\hmendo\AppData\Local\Continuum\anaconda3\envs\py3109_clone\lib\site-packages\numpy\lib\function_base.py:4009: RuntimeWarning: invalid value encountered in subtract
  diff_b_a = subtract(b, a)

In [35]:
display(futureWindRLs)

               return value   lower ci      upper ci
return period
1.0                    -inf        NaN  1.154507e+01
2.0               12.059060  11.339281  1.307008e+01
3.0               12.531663  11.753989  1.343978e+01
4.0               12.773702  11.959952  1.354272e+01
5.0               12.927805  12.078174  1.394525e+01
...                     ...        ...           ...
95.0              13.814580  12.342852  2.201098e+08
96.0              13.815869  12.342909  2.346167e+08
97.0              13.817138  12.342965  2.499154e+08
98.0              13.818387  12.343019  2.660403e+08
99.0              13.819617  12.343073  2.830270e+08

[99 rows x 3 columns]

# Finding "future return periods" that correspond to return levels identified from "current return periods"

In [37]:
futureRP_from10currentRL = main.find_rl_location(futureWindRLs, currentWindRLs.loc[10.0, 'return value'])
futureRP_from20currentRL = main.find_rl_location(futureWindRLs, currentWindRLs.loc[20.0, 'return value'])

In [38]:
futureRP_from10currentRL

14.0

In [39]:
futureRP_from20currentRL

16.0